html,body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

/* For adjusting the box model layout computation*/
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.container {
	position: relative;
	width: 100%;
	height: 70%;
	
	top: 15%;
	padding: 0;
	margin: 0;

	border: 1px solid #bdc3c7;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	
	overflow: hidden;	
	
}

@media screen {

	.one{
		position: absolute;
		display: inline-block;
		/*width: 6em;*/
		padding-bottom: 0;
		top: -4.6%;
		left: 50%;
		font-family: '04b', sans-serif;
		font-size:11em;
		color: rgba(189, 195, 199,0.7); /*Silver*/
		/*border: 1px solid black;*/

		filter: alpha(opacity=0);
		opacity: 0;

	}

	.two {
		position: absolute;
		display: inline-block;
		/*width: 2.5em;*/
		top: 28%;
		left: 50%;
		font-family: '04b', sans-serif;
		font-size:3.5em;
		color: rgba(189, 195, 199,0.45); /*Silver*/
		/*border: 1px solid red;*/

		filter: alpha(opacity=0);
		opacity: 0;
	}

	.three {
		position: absolute;
		display: inline-block;
		/*width: 6em;*/
		padding-bottom: 0;
		top: 60%;
		left: 60%;
		font-family: '04b', sans-serif;
		font-size:9em;
		color: rgba(189, 195, 199,0.7); /**Silver*/
		/*border: 1px solid black;*/

		filter: alpha(opacity=0);
		opacity: 0;
	}

	.four {
		position: absolute;
		display: inline-block;
		/*width: 2.5em;*/
		top: 85%;
		left: 48%;
		font-family: '04b', sans-serif;
		font-size:4.5em;
		color: rgba(189, 195, 199,0.45); /*Silver*/
		/*border: 1px solid red;*/

		filter: alpha(opacity=0);
		opacity: 0;
	}

	.five{
		position: absolute;
		display: inline-block;
		/*width: 6em;*/
		padding-bottom: 0;
		top: 12%;
		left: 44%;
		font-family: '04b', sans-serif;
		font-size:13em;
		color: rgba(189, 195, 199,0.6); /**Silver*/
		/*border: 1px solid black;*/

		filter: alpha(opacity=0);
		opacity: 0;
	}

	.six {
		position: absolute;
		display: inline-block;
		/*width: 2.5em;*/
		top: 75%;
		left: 75.8%;
		font-family: '04b', sans-serif;
		font-size:3.5em;
		color: rgba(189, 195, 199,0.4); /*Silver*/
		/*border: 1px solid red;*/

		filter: alpha(opacity=0);
		opacity: 0;
	}

	.seven {
		position: absolute;
		display: inline-block;
		/*width: 6em;*/
		padding-bottom: 0;
		top: 34%;
		right:0%;
		font-family: '04b', sans-serif;
		font-size:11em;
		color: rgba(243,175,18,0.77); /*Orange*/
		/*border: 1px solid black;*/

		filter: alpha(opacity=0);
		opacity: 0;
	}

	.asso {
		position: absolute;
		display: inline-block;
		font-family: 'Kozuka Gothic Pr6N',sans-serif;
		top: 53%;
		font-size: 2em;
		left: 84%;
		color: rgba(113,128,135,1); /*ghost-grey*/

		filter: alpha(opacity=0);
		opacity: 0;
	}

	.line{
		position:absolute;
		border-top: 1px solid rgba(113,128,135,0.7); /*ghost-grey*/
		top:50%;
		width:43%;
		left: 0;

	}

	.desc-1{
		position:absolute;
		right:57%;
		font-family: 'Kozuka Gothic Pr6N',sans-serif;
		color: rgba(113,128,135,1); /*ghost-grey*/
		top:60%;
		font-size: 1.2em;

		filter: alpha(opacity=0);
		opacity: 0;
	}
	.desc-2{
		position:absolute;
		right:57%;
		font-family: 'Kozuka Gothic Pr6N',sans-serif;
		color: rgba(113,128,135,1); /*ghost-grey*/
		top:65%;
		font-size: 1.2em;

		filter: alpha(opacity=0);
		opacity: 0;
	}
	.desc-3{
		position:absolute;
		right:57%;
		font-family: 'Kozuka Gothic Pr6N',sans-serif;
		color: rgba(113,128,135,1); /*ghost-grey*/
		top:70%;
		font-size: 1.2em;

		filter: alpha(opacity=0);
		opacity: 0;
	}

	.box-1 {
		position: absolute;
		width: 1em;
		height: 1em;
		top: 95%;
		right: 4%;
		background-color: rgba(159,187,88,1.0); /*Ghost Green*/

		filter: alpha(opacity=0);
		opacity: 0;
	}

	.box-2 {
		position: absolute;
		width: 1em;
		height: 1em;
		top: 95%;
		right: 6%;
		background-color: rgba(91, 164, 229,1.0); /*Ghost Blue*/

		filter: alpha(opacity=0);
		opacity: 0;
	}

	.box-3 {
		position: absolute;
		width: 1em;
		height: 1em;
		top: 95%;
		right: 8%;
		background-color: rgba(243,175,18,0.77); /*Mango*/

		filter: alpha(opacity=0);
		opacity: 0;
	}

	.enter-site {
		position: absolute;
		display: inline-block;
		font-family: 'Kozuka Gothic Pr6N',sans-serif;
		top: 89%;
		right: 4.5%;
		font-size: 1em;
		color: rgba(113,128,135,1); /*ghost-grey*/

		filter: alpha(opacity=0);
		opacity: 0;
	}
}

@media screen and (min-width: 680px) and (max-width: 1023px) {
	.seven {
		top: 34%;
		left: 27%;
		font-size:8em;
		color: rgba(243,175,18,0.77); /*Orange*/
		/*border: 1px solid black;*/
	}

	.asso {
		position: absolute;
		display: inline-block;
		font-family: 'Kozuka Gothic Pr6N',sans-serif;
		top: 53%;
		font-size: 1.5em;
		left: 75%;
		color: rgba(113,128,135,1); /*ghost-grey*/
	}

	.line{
		/*position:absolute;
		border-top: 1px solid rgba(113,128,135,0.7); /*ghost-grey*/
		/*top:50%;*/
		/*width:30%;*/
		/*left: 0;*/
		display: none;

	}

	.desc-1{
		position:absolute;
		right:57%;
		font-family: 'Kozuka Gothic Pr6N EL',sans-serif;
		color: rgba(113,128,135,1); /*ghost-grey*/
		top:60%;
		font-size: 1.2em;
	}
	.desc-2{
		position:absolute;
		right:57%;
		font-family: 'Kozuka Gothic Pr6N EL',sans-serif;
		color: rgba(113,128,135,1); /*ghost-grey*/
		top:64%;
		font-size: 1.2em;
	}
	.desc-3{
		position:absolute;
		right:57%;
		font-family: 'Kozuka Gothic Pr6N EL',sans-serif;
		color: rgba(113,128,135,1); /*ghost-grey*/
		top:68%;
		font-size: 1.2em;
	}

	.box-1 {
		position: absolute;
		width: 1em;
		height: 1em;
		top: 95%;
		right: 6%;
		background-color: rgba(159,187,88,1.0); /*Ghost Green*/
	}

	.box-2 {
		position: absolute;
		width: 1em;
		height: 1em;
		top: 95%;
		right: 9%;
		background-color: rgba(91, 164, 229,1.0); /*Ghost Blue*/
	}

	.box-3 {
		position: absolute;
		width: 1em;
		height: 1em;
		top: 95%;
		right: 12%;
		background-color: rgba(243,175,18,0.77); /*Mango*/
	}

	.enter-site {
		position: absolute;
		display: inline-block;
		font-family: 'Kozuka Gothic Pr6N EL',sans-serif;
		top: 89%;
		right: 5%;
		font-size: 1em;
		color: rgba(113,128,135,1); /*ghost-grey*/
	}
}

@media screen and (min-width: 481px) and (max-width: 680px) {
	.seven {
		top: 34%;
		left: 34%;
		font-size:7em;
		color: rgba(243,175,18,0.77); /*Orange*/
		/*border: 1px solid black;*/
	}

	.asso {
		position: absolute;
		display: inline-block;
		font-family: 'Kozuka Gothic Pr6N EL',sans-serif;
		top: 50%;
		font-size: 1.3em;
		left: 78.5%;
		color: rgba(113,128,135,1); /*ghost-grey*/
	}

	.line{
		display: none;
	}

	.desc-1{
		position:absolute;
		right:57%;
		font-family: 'Kozuka Gothic Pr6N EL',sans-serif;
		color: rgba(113,128,135,1); /*ghost-grey*/
		top:60%;
		font-size: 1.2em;
	}
	.desc-2{
		position:absolute;
		right:57%;
		font-family: 'Kozuka Gothic Pr6N EL',sans-serif;
		color: rgba(113,128,135,1); /*ghost-grey*/
		top:64%;
		font-size: 1.2em;
	}
	.desc-3{
		position:absolute;
		right:57%;
		font-family: 'Kozuka Gothic Pr6N EL',sans-serif;
		color: rgba(113,128,135,1); /*ghost-grey*/
		top:68%;
		font-size: 1.2em;
	}

	.box-1 {
		position: absolute;
		width: 1em;
		height: 1em;
		top: 95%;
		right: 5%;
		background-color: rgba(159,187,88,1.0); /*Ghost Green*/
	}

	.box-2 {
		position: absolute;
		width: 1em;
		height: 1em;
		top: 95%;
		right: 9%;
		background-color: rgba(91, 164, 229,1.0); /*Ghost Blue*/
	}

	.box-3 {
		position: absolute;
		width: 1em;
		height: 1em;
		top: 95%;
		right: 13%;
		background-color: rgba(243,175,18,0.77); /*Mango*/
	}

	.enter-site {
		position: absolute;
		display: inline-block;
		font-family: 'Kozuka Gothic Pr6N EL',sans-serif;
		top: 89%;
		right: 4.5%;
		font-size: 1em;
		color: rgba(113,128,135,1); /*ghost-grey*/
	}
}

@media screen and (max-width: 480px) {
	.seven {
		top: 34%;
		left: 13%;
		font-size:4em;
		color: rgba(243,175,18,0.77); /*Orange*/
		/*border: 1px solid black;*/
	}

	.asso {
		position: absolute;
		display: inline-block;
		font-family: 'Kozuka Gothic Pr6N EL',sans-serif;
		top: 46%;
		font-size: 0.8em;
		left: 70%;	
		color: rgba(113,128,135,1); /*ghost-grey*/
	}

	.line{
		display: none;
	}

	.desc-1{
		position:absolute;
		right:57%;
		font-family: 'Kozuka Gothic Pr6N EL',sans-serif;
		color: rgba(113,128,135,1); /*ghost-grey*/
		top:60%;
		font-size: 0.8em;
	}
	.desc-2{
		position:absolute;
		right:57%;
		font-family: 'Kozuka Gothic Pr6N EL',sans-serif;
		color: rgba(113,128,135,1); /*ghost-grey*/
		top:64%;
		font-size: 0.8em;
	}
	.desc-3{
		position:absolute;
		left: 0;
		font-family: 'Kozuka Gothic Pr6N EL',sans-serif;
		color: rgba(113,128,135,1); /*ghost-grey*/
		top:68%;
		font-size: 0.75em;
		text-align: right;
	}

	.box-1 {
		position: absolute;
		width: 1em;
		height: 1em;
		top: 95%;
		right: 6%;
		background-color: rgba(159,187,88,1.0); /*Ghost Green*/
	}

	.box-2 {
		position: absolute;
		width: 1em;
		height: 1em;
		top: 95%;
		right: 18%;
		background-color: rgba(91, 164, 229,1.0); /*Ghost Blue*/
	}

	.box-3 {
		position: absolute;
		width: 1em;
		height: 1em;
		top: 95%;
		right: 30%;
		background-color: rgba(243,175,18,0.77); /*Mango*/
	}

	.enter-site {
		position: absolute;
		display: inline-block;
		font-family: 'Kozuka Gothic Pr6N EL',sans-serif;
		top: 89%;
		right: 4.5%;
		font-size: 1em;
		color: rgba(113,128,135,1); /*ghost-grey*/
	}
}